.chats {
	display: flex;
	flex-direction: column;

	height: 100%;

	min-width: 100px;

	gap: var(--primary-offset);

	border: 1px solid rgb(0, 0, 0, 0.3);
	border-radius: var(--primary-border-radius);

	overflow: hidden;

	&__list {
		display: flex;
		flex-direction: column;
		flex: 1;

		border-radius: var(--primary-border-radius);

		&__chats,
		&__users {
			display: flex;
			flex-direction: column;
			flex: 1;

			gap: var(--secondary-offset);
		}

		&__separator {
			height: 1px;
			width: 100%;

			background-color: rgb(0, 0, 0, 0.3);
		}
	}
}
