.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-color: var(--color-1);

	&__loader {
		width: fit-content;
		height: fit-content;
	}
}
