.wrapper {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-color: var(--color-1);

	&__loader {
		width: 150px;
		height: 150px;

		background-color: var(--color-4, #ced4da);
	}

	&__logo {
		display: block;

		width: 100px;
		height: 100px;

		&__icon {
			width: 100px;
			height: 100px;

			path {
				&:nth-child(1) {
					fill: #ffa000;
				}

				&:nth-child(2) {
					fill: #f57c00;
				}

				&:nth-child(3) {
					fill: #ffca28;
				}
			}
		}
	}
}
