.list {
	position: relative;
	display: flex;

	&__items {
		display: flex;
		flex-direction: column;
		flex: 1;

		gap: var(--secondary-offset);

		overflow: auto;
		scrollbar-gutter: stable;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		// TODO try backdrop filter here (maybe spinner)
		background-color: rgb(255, 255, 255, 0.5);
	}
}
