.list {
	position: relative;
	display: flex;

	overflow-y: scroll;
	scrollbar-gutter: stable;

	&__items {
		display: flex;
		flex-direction: column;
		flex: 1;

		height: fit-content;

		gap: var(--secondary-offset);
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		backdrop-filter: blur(3px);
	}
}
