.button {
	padding: 14px 20px;

	font-size: clamp(12px, 1vw, 16px);
	line-height: clamp(15px, 1vw, 17px);

	border: none;
	border-radius: var(--primary-border-radius);

	outline: 2px solid var(--color-3);
	outline-offset: -3px;

	transition: all var(--primary-animation-duration) ease-in-out;

	opacity: 0.5;
	cursor: auto;

	&_enabled {
		opacity: 1;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--color-2);
			outline-offset: 3px;
			outline-color: var(--color-2);
		}
	}
}
