.form {
	display: flex;
	flex-direction: column;

	min-width: 400px;

	gap: var(--primary-offset);
	padding: var(--primary-offset);
	margin: auto;

	border: 1px solid var(--color-4);
	background-color: var(--color-3);
	border-radius: var(--primary-border-radius);

	&__text {
		display: flex;
		align-self: center;
	}
}
