@import '@Assets/styles/breakpoints.scss';

.form {
	display: flex;
	flex-direction: column;

	min-width: 400px;
	width: 600px;

	gap: var(--primary-offset);
	padding: var(--primary-padding-page);

	margin: auto;

	border: 1px solid var(--color-4);
	background-color: var(--color-4);
	border-radius: var(--primary-border-radius);

	&__text {
		display: flex;
		align-self: center;

		font-size: clamp(12px, 1vw, 16px);
		line-height: clamp(15px, 1vw, 17px);
	}

	@media screen and (max-width: $tablet) {
		width: 80vw;
		min-width: fit-content;

		padding: var(--primary-offset);
	}

	@media screen and (max-width: $mobile) {
		width: 100vw;
	}
}
