.wrapper {
	display: flex;
	flex-direction: row;

	width: inherit;

	&_justified-to-right {
		& > * {
			margin-left: auto;
		}
	}

	&__message {
		display: flex;
		flex-direction: row;

		gap: var(--primary-offset);

		&__content {
			display: flex;
			flex-direction: column;

			width: fit-content;

			padding: var(--primary-offset);

			background-color: var(--light-1);
			border-radius: var(--primary-border-radius);

			&__file {
				max-height: 200px;
				width: fit-content;

				object-fit: contain;

				border: 1px solid black;
			}
		}

		&__profile-picture {
			align-self: flex-end;
		}
	}
}
