.wrapper {
	display: flex;
	flex-direction: row;

	width: inherit;

	&_justified-to-right {
		& > * {
			margin-left: auto;
		}
	}

	&__message {
		display: flex;
		flex-direction: row;

		max-width: 70%;

		gap: var(--primary-offset);

		&__content {
			display: flex;
			flex-direction: column;

			width: fit-content;

			padding: var(--primary-offset);

			background-color: var(--color-1);
			border-radius: var(--primary-border-radius);

			word-wrap: break-word;
			white-space: pre-wrap;
			word-break: break-word;

			&__file {
				max-height: 200px;
				width: fit-content;

				object-fit: contain;

				border: 1px solid black;
			}

			&__date {
				display: flex;
				align-self: flex-end;

				width: fit-content;

				margin-top: 3px;

				font-size: 10px;
				font-style: italic;
				opacity: 0.5;
			}
		}

		&__profile-picture {
			align-self: flex-end;
		}
	}
}
