@import '@Assets/styles/breakpoints.scss';

.app {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-flow: column;

	background-color: var(--color-1);

	&__aside,
	&__main {
		display: flex;
		flex-direction: column;
		flex: 1;

		height: 100vh;
	}

	&__main {
		padding: var(--primary-padding-page);
		overflow: auto;
	}
}

@media screen and (max-width: $mobile) {
	.app {
		display: grid;
		grid-template-rows: 60px 1fr;
		grid-auto-flow: column;

		height: 100vh;

		&__aside {
			width: 100vw;
			height: auto;
		}

		&__main {
			height: auto;
		}
	}
}
