.chat {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;

	gap: var(--secondary-offset);
	padding: var(--secondary-offset);

	background-color: var(--color-2);
	border-radius: var(--primary-border-radius);

	overflow: hidden;
	transition: background-color var(--primary-animation-duration) ease-in;
	cursor: pointer;

	&:hover {
		background-color: var(--color-3);
	}

	&__user_info {
		display: flex;
		flex-direction: column;

		width: calc(100% - 40px - var(--secondary-offset));

		gap: 3px;

		&__userName {
			display: inline-block;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__message {
			display: inline-block;

			max-width: 100%;

			font-size: 10px;
			font-style: normal;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__date {
		position: absolute;

		top: var(--secondary-offset);
		right: var(--secondary-offset);

		font-size: 10px;
		font-style: italic;

		opacity: 0.5;
	}
}
