.chat {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;

	gap: var(--secondary-offset);
	padding: var(--secondary-offset);

	background-color: var(--light-2);
	border-radius: var(--primary-border-radius);

	overflow: hidden;
	transition: background-color var(--primary-animation-duration) ease-in;
	cursor: pointer;

	&:hover {
		background-color: var(--light-3);
	}

	&__user-info {
		display: flex;
		flex-direction: column;

		gap: 3px;

		text-overflow: ellipsis;

		&__message {
			width: 100%;

			border: 1px solid #000;

			font-size: 10px;
			font-style: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
