.file-selector {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: var(--secondary-offset);
	padding: 8px 16px;

	border: 1px solid black; // TODO add var
	border-radius: var(--primary-border-radius);
	cursor: pointer;

	svg {
		width: 18px;
		height: 18px;
	}

	&__input {
		position: absolute;
		overflow: hidden;
		opacity: 0;
		z-index: -1;
	}
}
