.file-attacher {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;

	padding: 4px;

	border-radius: 50%;

	transition: all var(--primary-animation-duration) ease-in-out;
	background-color: var(--color-2);

	cursor: pointer;

	&:hover {
		transition: all var(--primary-animation-duration) ease-in-out;
		background-color: var(--color-3);
	}

	&_disabled {
		opacity: 0.5;

		&:hover {
			background-color: var(--color-2);
			cursor: auto;
		}
	}

	svg {
		width: 16px;
		height: 16px;
	}

	&__input {
		position: absolute;
		overflow: hidden;
		opacity: 0;
		z-index: -1;
	}
}
