.chat_view {
	display: flex;
	flex-direction: column;
	flex: 1;

	max-height: calc(100vh - 2 * var(--primary-padding-page));

	gap: var(--primary-offset);
	padding: var(--primary-offset);

	background-color: var(--light-3);
	border-radius: var(--primary-border-radius);

	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;

		height: 60px;

		padding: 0 var(--secondary-offset);
		gap: var(--secondary-offset);

		background-color: var(--light-4);
		border-radius: var(--primary-border-radius);
	}

	&__container {
		display: flex;
		flex-direction: column;
		flex: 1;

		height: fit-content;

		gap: var(--primary-offset);
		padding: var(--primary-offset);

		overflow: auto;
		scrollbar-gutter: stable;
	}

	&__files-preview {
		display: flex;
		flex-direction: row;

		height: fit-content;
		width: 100%;

		gap: var(--secondary-offset);
		padding: var(--secondary-offset);

		background-color: var(--light-1);
		border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;

		transition: all var(--primary-animation-duration) ease;

		&_empty {
			height: 0;
			padding: 0;

			transition: all var(--primary-animation-duration) ease;
		}

		&__file {
			height: 50px;
			cursor: pointer;

			transition: opacity var(--primary-animation-duration) ease;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	&__panel {
		display: inline-flex;

		width: 100%;
		height: fit-content;
		min-height: 50px;

		gap: var(--secondary-offset);
		padding: var(--secondary-offset);

		background-color: var(--light-4);
		border-radius: var(--primary-border-radius);

		& > * {
			display: flex;
			flex: 1;
		}
	}
}
