@import '@Assets/styles/breakpoints.scss';

.chat_view {
	display: flex;
	flex-direction: column;
	flex: 1;

	max-height: calc(100vh - 2 * var(--primary-padding-page));

	gap: var(--primary-offset);
	padding: var(--primary-offset);

	background-color: var(--color-3);
	border-radius: var(--primary-border-radius);

	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;

		height: 60px;

		padding: 0 var(--secondary-offset);
		gap: var(--secondary-offset);

		background-color: var(--color-4);
		border-radius: var(--primary-border-radius);
	}

	&__container {
		display: flex;
		flex-direction: column;
		flex: 1;

		padding: 0 var(--primary-offset);

		overflow: auto;
		scrollbar-gutter: stable;
	}
}

@media screen and (max-width: $mobile) {
	.chat_view {
		height: auto;

		&__container {
			&::-webkit-scrollbar {
				height: 0;
				width: 0;
			}
		}
	}
}
