@import '@Assets/styles/breakpoints.scss';

* {
	font-family: 'Montserrat', sans-serif;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #b3b3b3;
		border-radius: 7px;
		border: 1px solid #f3f5fc;
	}
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

html {
	overflow: hidden;
}

:root {
	--primary-offset: 20px;
	--secondary-offset: 10px;
	--additional-offset: 5px;

	--primary-gap-page: 20px;
	--primary-padding-page: 40px;

	--primary-border-radius: 10px;
	--primary-animation-duration: 0.3s;

	--accent-1: #ee6c4d;
}

.light-theme {
	color-scheme: light;

	--color-1: #f8f9fa;
	--color-2: #e9ecef;
	--color-3: #dee2e6;
	--color-4: #ced4da;
	--color-secondary-1: rgb(0, 0, 0, 0.3);
	--text-color: #212529;
}

.dark-theme {
	color-scheme: dark;

	--color-1: #212529;
	--color-2: #343a40;
	--color-3: #495057;
	--color-4: #6c757d;
	--color-secondary-1: rgba(255, 255, 255, 0.3);
	--text-color: #f8f9fa;
}

body {
	position: relative;
	top: 0;
	left: 0;

	overflow: hidden;
	color: var(--text-color);
}

h1 {
	font-weight: 500;
	font-size: clamp(14px, 1vw, 18px);
	line-height: 20px;
}

h2 {
	font-size: clamp(12px, 1vw, 16px);
	line-height: 20px;
}

p,
span {
	font-size: clamp(12px, 1vw, 16px);
	line-height: clamp(15px, 1vw, 17px);
}

i {
	font-size: clamp(8px, 1vw, 10px);
	line-height: clamp(14px, 1vw, 16px);
}

a {
	text-decoration: underline;
	color: var(--accent-1);
}

svg {
	fill: var(--text-color);
	path {
		fill: var(--text-color);
	}
}
