.message {
	display: flex;
	flex-direction: column;

	gap: var(--secondary-offset);

	&__message_view {
		display: inline-flex;

		width: 100%;
		height: fit-content;
		min-height: 50px;

		gap: var(--secondary-offset);
		padding: var(--secondary-offset);

		background-color: var(--color-4);
		border-radius: var(--primary-border-radius);

		& > *:first-of-type {
			display: flex;
			flex: 1;
		}
	}
}
