@import '@Assets/styles/breakpoints.scss';

.page_wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: minmax(200px, 20%) 1fr;
	flex: 1;

	gap: var(--primary-gap-page);

	@media screen and (max-width: $tablet) {
		display: flex;
		height: calc(100% - 2 * var(--primary-padding-page));
	}
}
